:root {
  --snp--transition-time: 0.5s;
}

#root {
  padding: 0;
  text-align: center;
}

.currently-playing {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  container: currently-playing / inline-size;

  .currently-playing--bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: cover;
    box-shadow: 0 0 15cqw rgba(32, 32, 32, 0.6) inset;

    filter: blur(70px) brightness(0.8);

    transition: background-image var(--snp--transition-time) ease-in-out;
  }

  &.currently-playing--null .currently-playing--bg {
    background: #2b59b2; /* Spotify DJ color. */
  }

  .currently-playing--content {
    position: relative;
    width: 100%;

    .currently-playing--content--inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 2cqh 6cqw;

      font-size: 1cqi;

      /* Spotify logo */
      &:after {
        --logo-dim: max(2cqw, 70px); /* Spotify logo must be 70px or larger. */

        position: absolute;
        top: calc(var(--logo-dim) / 2); /* Ensure min exclusion zone, which is half of logo height */
        left: calc(var(--logo-dim) / 2);
        display: block;

        width: var(--logo-dim);
        height: var(--logo-dim);

        content: '';
        /*background: url('./assets/Spotify_Icon_RGB_White.png') no-repeat;*/
        background-size: contain;
        opacity: 0.5;
      }
    }

    .currently-playing--image {
      box-shadow: 0 0 5cqw 0.5cqw rgba(32, 32, 32, 0.9);
      margin-bottom: 2.5cqi;

      max-width: 78cqw;
      height: auto;
      background-size: contain;

      transition: background-image var(--snp--transition-time) ease-in-out;
    }

    & h1,
    & h2,
    & h3 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.1;
      width: 100%;
    }

    /* Major third, ratio 1.250 */
    /* Then x 1.3 */

    /*
    1: 3.052
    2: 2.441
    3: 1.953
    */

    & h1 {
      font-size: 3.9676cqi;
      font-weight: 700;
      margin-block-end: 0.3em;
    }

    & h2 {
      font-size: 3.1733cqi;
      font-weight: 500;
      font-style: italic;
      margin-block-end: 0.45em;
    }

    & h3 {
      /*font-size: 2.5389cqi;*/
      font-size: 3.1733cqi;
      font-weight: 500;
    }
  }
}

.current-playlist {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  box-shadow: 0 0 15cqw rgba(32, 32, 32, 0.6) inset;
}

.not-playing {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 15cqw;
    font-weight: 700;
  }
}

.status {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}